<h1>Admin::Dashboard#show</h1>
<div class="card">
  <div class="card-header">
    Products
  </div>
  <div class="card-body">
    <p class="card-text">We have a stock of <%= @productsCount %> different plants in the store.</p>
    <a href="/admin/products" class="btn btn-primary">Check it out</a>
  </div>
</div>

<div class="card">
  <div class="card-header">
    Category
  </div>
  <div class="card-body">
    <p class="card-text">We have <%= @categoryCount %> different categories of plants.</p>
    <a href="/admin/products" class="btn btn-primary">Check it out</a>
  </div>
</div>