<h1>About Us</h1>
<p>Jungle Plant Shop is a Toronto-based botanical boutique specializing in interior design with a focus on unusual and high quality tropical plants, cactus, ceramics and selected objects for your any space.
<p>Jungle's brand encompasses both retail and original products and we delight in hand selecting each product we carry to ensure every piece is unique, beautiful and we carry a variety of vessels to compliment our exotic plant friends. Our accessories are both curated as well as created by our own in house production team and manufactured in small runs by artists internationally.<p>
